@mixin title_h2{
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2.28px;
    text-transform: uppercase;
}
@mixin title_h3 {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.62);
    font-family: 'Merriweather', serif;
}
@mixin title_h4 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1.2px;
    color: #3e3f3f;
    padding-bottom: 30px;
    text-transform: uppercase;
}