/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "./mixin.scss";
body{
    width: 1440px;
}

.headerBox{
    height: 112px;
    padding:0 150px 5px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #eff0f2;
    align-items: flex-end;

    .headerBox__pageName{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 113px;
        height: 43px;
        border: 6px solid black;
        font-size: 17px;
        font-family:  'Montserrat', sans-serif;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.647;
        text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);

            & span{
                color: #90d3ce;
                font-size: 21px;
            }
    }
    .headerBox__menu{
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

            & div{
                width: 31px;
                height: 4px;
                border-radius: 1px;
                background-color: #606061;
            }
    }    
}
.titleBox{
    height: 690px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 195px 0;
    background-color: #eff0f2;

    .titleBox__title{
        text-align: center;
        font-size: 45px;
        font-family: "Montserrat";
        color: rgb(80, 80, 80);
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
        
        & span{
            background-color: #b2f2ee;
        }
    }
    .titleBox__button{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #afb0b1;
        width: 232px;
        height: 53px;
        border: 3px solid #777879;
        font-size: 18px;
        font-family: "Montserrat";
        color: rgba(0, 0, 0, 0.749);
        text-transform: uppercase;
    }
    .titleBox__image{
      position: absolute;
      top: 586px;
      left: 1125px;
      width: 74px;
      height: 86px;
      background-image: url(../assets/image/vedro.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
}
.aboutUsBox{
  height: 985px;
  border-color: #f8fafa;
  padding: 127px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8fafa;

    .aboutUsBox__title{
      height: 60px;
      width: 615px;
      text-align: center;

      & h2{
        @include title_h2;
      }

      & h3{
        @include title_h3;
      }
      
    }
    .aboutUsBox__content{
      height: 795px;
      width: 1070px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      

        .aboutUsBox__content__image{
          width: 479px;
          height: 483px;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          & div:first-child{
            width: 479px;
            height: 412px;
            background-color: #eff0f2;
            position: absolute;
            left: -28px;
            top: 45px;
          }
          & div:last-child{
            width: 392px;
            height: 483px;
            background-image: url(../assets/image/Image.png);
            z-index: 4;
          }
        }

        .aboutUsBox__content__text{
          height: 465px;

          & h4{
            @include title_h4;
          }

          & p{
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            
            color: #4c4c4c;
          }
          & p:nth-child(3){
            padding: 43px 0;
          }
        } 

    }
}
.featuredWorkBox{
  height: 1164px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 125px 0 0 0;

  .featuredWorkBox__title{
    height: 60px;
    width: 615px;
    text-align: center;

      & h2{
        @include title_h2;
      }

      & h3{
        @include title_h3;
      }
  }
  .featuredWorkBox__gridImage{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 359px 359px;
    grid-column-gap: 15px;
    grid-row-gap:15px;
    margin: 123px 0 0 0;

    & div:first-child{
      background-image: url(../assets/image/banner3.png);
    }
    & div:nth-child(2){
        background-image: url(../assets/image/5.png);
    }
    & div:nth-child(3){
        background-image: url(../assets/image/6.png);
    }
    & div:nth-child(4){
        background-image: url(../assets/image/work4.png);
    }
    & div:nth-child(5){
        background-image: url(../assets/image/9.png);
    }
    & div:nth-child(6){
        background-image: url(../assets/image/home_dietitian_sectionbg_1.png);
    }
  }
}

.ourServicesBox{
  height: 1618px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 125px 0 0 0;
  background-color: #f9fbfb;
  
  .ourServicesBox__title{
    height: 60px;
    width: 615px;
    text-align: center;
    margin: 0 0 125px 0;
    
    & h2{
      @include title_h2;
    }
    & h3{
      @include title_h3;
    }
  }

  .ourServicesBox_gridImage{
    display: grid;
    grid-template-columns: 472px 181px 472px;
    grid-template-rows: 418px 372px 372px;
    grid-column-gap: 15px;
    grid-row-gap:15px;
    grid-template-areas: 
    "a a b"
    "c c d"
    "f e e";
    
  

    & div:first-child{
      background-image: url(../assets/image/home_dietitian_sectionbg_1.png);
      grid-column-start: 2;
      grid-column-end: 3;
      grid-area: a;
      
    }
    & div:nth-child(2){
        background-image: url(../assets/image/img-9.png);
        grid-area: b;
    }
    & div:nth-child(3){
        background-image: url(../assets/image/griego3_1x.png);
        grid-area: c;
    }
    & div:nth-child(4){
        background-image: url(../assets/image/careers-00.png);
        grid-area: d;
    }
    & div:nth-child(5){
        background-image: url(../assets/image/griego4_1x.png);
        grid-area: f;
    }
    & div:nth-child(6){
        background-image: url(../assets/image/blog-3.png);
        grid-area: e;
    }
  } 
}
.smallTeamBox{
  height: 1315px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 125px 0 0 0;
  .smallTeamBox_title{
    height: 60px;
    width: 615px;
    text-align: center;

      & h2{
        @include title_h2;
      }

      & h3{
        @include title_h3;
      }
  }
  .smallTeamBox__gridImage{
    display: grid;
    grid-template-columns: 375px 375px 375px;
    grid-template-rows: 441px 441px;
    grid-column-gap: 15px;
    grid-row-gap:15px;
    margin: 123px 0 0 0;

    & div:first-child{
      background-image: url(../assets/image/team_3_copy.png);
    }
    & div:nth-child(2){
        background-image: url(../assets/image/team_4.png);
    }
    & div:nth-child(3){
        background-image: url(../assets/image/team_1.png);
    }
    & div:nth-child(4){
        background-image: url(../assets/image/team_2.png);
    }
    & div:nth-child(5){
        background-image: url(../assets/image/3.png);
    }
    & div:nth-child(6){
        background-image: url(../assets/image/team_3_copy.png);
    }
  }
}
.whatSayBox{
  height: 925px;
  padding: 125px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9fbfb;

    .whatSayBox__title{
      height: 60px;
      width: 615px;
      text-align: center;

      & h2{
        @include title_h2;
      }

      & h3{
        @include title_h3;
      }
      
    }
    .whatSayBox__content{
      height: 795px;
      width: 1070px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      

        .whatSayBox__content__image{
          width: 479px;
          height: 483px;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          & div:first-child{
            width: 393px;
            height: 362px;
            background-color: #eff0f2;
            position: absolute;
            left: -35px;
            top: 63px;
          }
          & div:last-child{
            width: 319px;
            height: 410px;
            background-image: url(../assets/image/team_1.png);
            background-size: cover;
            background-position: center;
            z-index: 4;
          }
        }
        .whatSayBox__content__text{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 666px;
          height: 362px;
          background-color: #eaebed;

          & h4{
            font-family: "Merriweather";
            font-size: 15px;
            line-height: 1.87;
            letter-spacing: 0.9px;
            margin: 0 0 30px 0;

            & span{
              color: #7e7e7e;
              font-size: 13px;
              font-style: italic;
            }
          }
          & p{
            font-family: 'Raleway';
            font-size: 16px;
            line-height: 1.69;
            letter-spacing: 0.96px;
            text-align: center;
            color: rgba(0, 0, 0, 0.7);
            padding: 0 0 30px 0;
          }
        }
        .whatSayBox__content__text__star{
          width: 115px;
          height: 15px;
          display: flex;
          justify-content: space-between;

          & div{
            width: 15px;
            height: 15px;
            background-image: url(../assets/image/Shape2.png);
          }
        }

    }
}
.logoBox{
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoBox__image{
    height: 172px;
    width: 1133px;
    background-image: url(../assets/image/logo.png);
  }
}
.formBox{
  height: 705px;
  background: url(../assets/image/christmas_snow_trees-wide.png);
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  .formBox__bg{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    opacity: 0.7;
    position: absolute;
  }
  .formBox__form{
    width: 614px;
    height: 460px;
    opacity: 0.71;
    box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
    background-color: #021623;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    position: relative;
    z-index: 3;
    
    & input{
      width: 556px;
      border: none;
      border-bottom: 1px solid #ffffff;
      background-color: #021623;
      line-height: 3.4;
      font-family: 'Raleway';
      font-size: 15px;
      color: white;
      outline: 0 !important;
    }
    & textarea{
      width: 556px;
      height: 135px;
      border: none;
      border-bottom: 1px solid #ffffff;
      background-color: #021623;
      line-height: 3.4;
      font-family: 'Raleway';
      font-size: 15px;
      color: white;
      outline: 0 !important;
      margin-bottom: 37px;
    }
    & button{
        width: 244px;
        height: 53px;
        border-radius: 2px;
        background-color: #6eeee4;
        font-family: 'Montserrat';
        position: absolute;
        left: 30px;
        top: 360px;
      }
    }
    
  }
  .formBox__maps{
    width: 500px;
    height: 461px;
    opacity: 0.71;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px 0 rgba(21, 21, 21, 0.16);
    background-color: #021623;
    padding: 36px 0 0 0;
    z-index: 3;

    & div:first-child{
      width: 455px;
      height: 159px;
      opacity: 0.7;
      font-family: 'Raleway';
      font-size: 15px;
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.7);
      margin: 0 0 23px 0;
    }
    & div:last-child{
        width: 455px;
        height: 224px;
        opacity: 1;
        background-image:url(../assets/image/map.png) ;
        background-size: cover;
    }
  }
.footerBox{
  height: 316px;
  background-color: #262b2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerBox__title{
    opacity: 0.8;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0 30px 0;
  }
  .footerBox__link{
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 43px 0;
    &>a{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #424648;
      width: 46px;
      height: 40px;
   
    }
  
} 

  .footerBox__text{
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        letter-spacing: 0.16px;
        color: rgba(255, 255, 255, 0.4);
      }
} 
.gridBg{
   display: grid;
   position: absolute;
   top: 3260px;
   left: 145px;
   grid-template-columns: 472px 181px 472px;
   grid-template-rows: 418px 372px 372px;
   grid-column-gap: 15px;
   grid-row-gap:15px;
   grid-template-areas: 
    "a a b"
    "c c d"
    "f e e";
    
  

    & div:first-child{
      background-color: #70f5eb;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-area: a;
       padding: 0 0 58px 68px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(0, 0, 0, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(0, 0, 0, 0.9);
          margin: 0 0 60px 0;
          &:last-child{
            margin: 0;
            font-size: 20px;
          }
        }
        
      
    }
    & div:nth-child(2){
        background-color: rgba(0, 0, 0, 0.699);
        grid-area: b;
        padding: 0 0 58px 68px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 0 60px 0;
        }
        & a{
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.72px;
          color: rgba(249, 251, 251, 0.9);
        }
    }
    & div:nth-child(3){
        background-color: rgba(0, 0, 0, 0.699);
        padding: 0 0 58px 68px;
        grid-area: c;
         display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 0 60px 0;
        }
        & a{
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.72px;
          color: rgba(249, 251, 251, 0.9);
        }
    }
    & div:nth-child(4){
        background-color: rgba(0, 0, 0, 0.699);
        padding: 0 0 58px 68px;
        grid-area: d;
         display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 0 60px 0;
        }
        & a{
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.72px;
          color: rgba(249, 251, 251, 0.9);
        }
    }
    & div:nth-child(5){
      padding: 0 0 58px 68px;
        background-color: rgba(0, 0, 0, 0.699);
        grid-area: f;
         display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 0 60px 0;
        }
        & a{
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.72px;
          color: rgba(249, 251, 251, 0.9);
        }
    }
    & div:nth-child(6){
        padding: 0 0 58px 68px;
        background-color: rgba(0, 0, 0, 0.699);
        grid-area: e;
         display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & h3{
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.95);
          text-transform: uppercase;
          margin: 0 0 27px 0;
        }
        & p{
          font-family: Raleway;
          font-size: 16px;
          line-height: 1.56;
          letter-spacing: 0.32px;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 0 60px 0;
        }
        & a{
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.72px;
          color: rgba(249, 251, 251, 0.9);
        }
    }
}
.flexBoxDotz{
  width: 50px;
  height: 11px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1675px;
  left: 380px;
  & div{
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #d0d0d0;
    &:hover{
      background-color: #71f6eb
    }
  }
} 
.flexBox2Dotz{
  width: 50px;
  height: 11px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 6680px;
  left: 320px;
  & div{
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #d0d0d0;
     &:hover{
      background-color: #71f6eb
    }
  }
} 
.flexButtonBox{
  width: 140px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 6640px;
  left: 1110px;
  & div{
    width: 53px;
    height: 53px;
    border-radius: 3px;
    box-shadow: 2.3px 5.5px 11px 0 rgba(20, 20, 21, 0.1);
    background-color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    background-image: url(../assets/image/Shape3.png);
    background-position: center;
    background-repeat: no-repeat;
    &:last-child{
      background-image: url(../assets/image/Shape4.png);
    }
    &:hover{
      background-color: #71f6eb;
    }
  }
}